@import url(styling.css);

#something {
  background-image: url(/media/jesse-orrico-60373.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  margin: 0;
  height: 35vh;
}

#something2 {
  background-image: url(/media/mammoth-1257288_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  margin: 0;
  height: 30vh;
}
